body
{
    margin: 0;
    font-family: "Lora", serif;
}
.container
{
    margin: 0px 130px;
}
.header
{
    background-color: #a7bbdd;
    height: 130px;
    background-size: cover;
}
.header-line
{
    display: flex;
}
.header-name
{
    color: #fff;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}
.header-ln
{
    padding-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 70px;
}
.header-ln > * {
    margin-bottom: -30px; 
}
.nav
{
    padding-top: 55px;
}
.nav-item
{
    margin-left: 25px;
    margin-top: 157px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
    margin-right: 5px;
}
.search
{
    margin-top: 50px;
    margin-left: 115px;
    transition: transform 0.4s linear;
}
.search:hover
{
    transform: scale(1.2);
}
.basket
{
    margin-top: 50px;
    margin-left: 25px;
    transition: transform 0.4s linear;
}
.basket:hover
{
    transform: scale(1.2);
}
.banner 
{
    position: relative;
}
.banner-title
{
    font-weight: 400;
    font-size: 45px;
    color: #352f21;
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 247px;
    margin-right: 800px;
    margin-left: 130px;
}
.banner-subtitle
{
    font-weight: 400;
    font-size: 25px;
    line-height: 138%;
    color: #352f21;
    text-align: left;
    position: absolute;
    left: 130px;
    margin-top: 393px;
    margin-right: 780px;
}
.banner-subtitle p
{
    margin-top: 0px;
}
.banner-image
{
    margin-top: 50px;
    position: absolute;
    right: 0px;
}
.btnbasket
{
    position: absolute;
    border-radius: 40px;
    padding: 5px 15px;
    width: 210px;
    height: 45px;
    background: #cea1c7;
    font-family: "Source Sans 3", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    transition: transform 0.4s linear, box-shadow 0.4s linear;
    
}
.btnbasket:hover
{
    transform: scale(1.1);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.35);
}
.btncatalog
{
    position: absolute;
    border: 2.50px solid rgba(206, 161, 199, 0.36);
    border-radius: 40px;
    padding: 5px 15px;
    width: 210px;
    height: 45px;
    background: #fff;
    font-family: "Source Sans 3", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #9a7ec1;
    text-decoration: none;
    margin-left: 300px;
    line-height: 45px;
    transition: transform 0.4s linear, border 0.4s linear;
}
.btncatalog:hover
{
    transform: scale(1.1);
    border: 4px solid rgba(206, 161, 199, 0.36);
}
.header-btn
{
    margin-top: 588px;
    position: absolute;
    left: 130px;
}
.cards-container {
    margin-top: 880px; 
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;

}
.cards-holder
{
    display: flex;
    transition: box-shadow 0.4s linear;
}
.card
{
    position: relative;
}
.cards-holder:hover
{
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.25);
}
.card-title {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
    width: 240px;
    padding: 13px 0;
    height: 35px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.25);
    background: #a7bbdd;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    margin-top: -48px;
    white-space: nowrap;
    text-align: center;
}
.card-image {
    position: relative; 
}
.overlay-img {
    position: absolute;
    top: 40%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.aboutUs-title
{
    font-weight: 400;
    font-size: 45px;
    color: #352f21;
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 80px;
    margin-right: 800px;
    margin-left: 130px;
}
.aboutUs-line {
    border: 2px solid #cea1c7;
    width: 37px;
    height: 0px;
    transform: rotate(-90deg);
    position: absolute;
    top: 1489px;
    left: 115px;
}

.aboutUs-desc {
    font-weight: 400;
    font-size: 25px;
    color: #352f21;
    text-align: left;
    position: absolute;
    margin-top: 180px;
    margin-right: 730px;
    margin-left: 30px;
    font-family: "Source Sans 3", sans-serif;
}

.aboutUs-desc span {
    margin-top: 20px;
    display: block;
    margin-right: -40px;
    font-family: "Source Sans 3", sans-serif;
}
.aboutUs-images 
{
    margin-top: 40px;
    position: absolute;
    left: 790px;
}
.images-1
{
    position: relative;
    margin-left: 13px;
}
.images-2 
{
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translateX(13px);
}
.socialMedia 
{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -70px;
    padding-top: 225px;
}
.socialMedia img 
{
    margin-bottom: 20px; 
}
.block-back {
    margin-top: -75px;
    position: absolute;
    z-index: 0;
    margin-left: -130px;
    background-color: #A7BBDD;
    opacity: 0.26;
    width: 1473px;
    height: 293px;
}
.services-container
{
    display: flex;
    margin: 0px 130px;
}
.block-title {
    margin-left: 130px;
    padding-top: 28px;
    z-index: 2;
    margin-top: 100px;
    font-weight: 400;
    font-size: 35px;
    color: #A7BBDD;
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around ;
    position: relative;
}
.block-image {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.elipse1
{
    z-index: 1;
    margin-top: -20px;
}
.block-img2
{
    z-index: 2;
    padding-left: 100px;
}
.elipse2
{
    z-index: 1;
    margin-top: -20px;
    margin-left: 90px;
}
.block-img3
{
    z-index: 2;
    padding-left: 200px;
}
.elipse3
{
    z-index: 1;
    margin-top: -20px;
    margin-left: 180px;
}
.block-img4
{
    z-index: 2;
    padding-left: 230px;
}
.elipse4
{
    z-index: 1;
    margin-top: -20px;
    margin-left: 200px;
}
.block-desc1
{
    margin-right: 20px;
    margin-left: 10px;
}
.block-desc2
{
    margin-right: 20px;
    margin-left: 120px;
}
.block-desc3 {
    margin-right: -120px;
    margin-left: 60px;
}

.block-desc4
{
    margin-right: -90px;
    margin-left: 130px;
}
.catalog-title
{
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    color: #352f21;
    margin-left: -1040px;
    padding-top: 100px;
}
.catalog-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-row,
.second-row {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.bouquet
{
    width: 377px;
    height: 623px;
    background-color: #fff;
    box-shadow: 0 6px 14px 0 #cea1c7;
    margin: 0 20px;
    transition: box-shadow 0.4s linear, transform 0.4s linear;
}
.bouquet:hover
{
    box-shadow: 0 10px 14px 0 rgba(53, 47, 33, 0.45);
    transform: scale(1.040);
}
.bouquet-image
{
    top: 100%;
    left: 50%;
    transform: translate(0%, -0.6%);
}
.bouquet-images
{
    padding-left: 3px;
    transform: translate(1%, -0.6%);
    transform: scale(1.020);
}
.bouquet-title
{
    margin-top: 18px;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: #352f21;
}
.bouquet-title span
{
    margin-top: 18px;
    display: block;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: #352f21;
}
.bouquet-btn
{
    margin-left: 60px;
    margin-top: 20px;
    border: 2.50px solid rgba(206, 161, 199, 0.36);
    border-radius: 40px;
    padding: 5px 84px;
    width: 85px;
    height: 45px;
    background: #fff;
    text-align: center;
    line-height: 45px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #9a7ec1;
}
.navigation
{
    display: flex;
    align-items: center;
    margin-top: 90px;
    margin-left: 595px;
}
.larrow,
.pages,
.rarrow {
    margin: 0 10px;
}
.reviews-container
{
    position: relative;
    margin: 0px 130px;
}
.reviews-back
{
    position: absolute;
    margin-top: -100px;
    margin-left: -130px;
    width: 1473px;
    height: 1301px;
    background: #e8edf6;
    z-index: 0;
}
.reviews-title
{
    position: relative;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    color: #352f21;
    margin-left: -1040px;
    padding-top: 100px;
    z-index: 1;
}
.reviews-img,
.reviews-img1 {
    position: absolute;
    top: 0;
    z-index: 1;
     
}

.reviews-img {
    right: 0;
    margin-right: -130px;
    margin-top: -30px;
}

.reviews-img1 {
    left: 0;
    margin-left: -130px;
    margin-top: 300px;
}

.first-review,
.second-review
{
    position: relative;
    z-index: 1; 
}
.first-avatar
{
    margin-left: 200px;
    margin-top: 50px;
}
.first-desc
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #352f21;
    margin-left: 450px;
    margin-top: -200px;
}
.first-line
{
    border: 2px solid #cea1c7;
    width: 37px;
    height: 0px;
    margin-left: 450px;
    margin-top: 8px;
}
.first-name
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #9a7ec1;
    margin-left: 450px;
    margin-top: 8px;
}
.second-avatar
{
    margin-left: 380px;
    margin-top: 110px;
}
.second-desc
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #352f21;
    margin-left: 625px;
    margin-top: -200px;
}
.second-line
{
    border: 2px solid #cea1c7;
    width: 37px;
    height: 0px;
    margin-left: 625px;
    margin-top: 8px;
}
.second-name
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #9a7ec1;
    margin-left: 625px;
    margin-top: 8px;
}
.review-navig
{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 560px;
    z-index: 1; 
}
.reviews-add {
    position: relative;
    z-index: 1; 
}
.add-title {
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    color: #352f21;
    margin-left: -900px;
    padding-top: 50px;
}

.add-form input[type="text"]
{
    border-radius: 20px;
    width: 1182px;
    height: 54px;
    background: #fff;
    border: none;
    margin-left: 130px;
    resize: none;
    margin-top: 20px;
}
.add-form textarea {
    border-radius: 20px;
    width: 1182px;
    height: 179px;
    background: #fff;
    border-color: #fff;
    margin-left: 130px;
    margin-top: 22px;
    resize: none;
}
.add-form input[type="text"]:focus,
.add-form textarea:focus {
    outline: none;
    
}
.add-form input[type="text"]::placeholder,
.add-form textarea::placeholder {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #c6c6c6;
    padding-left: 10px;
    line-height: 40px;
}
.add-form input[type="text"],
.add-form textarea {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000;
    padding-left: 10px;
    line-height: 40px;
}
.add-btn
{
    position: absolute;
    border-radius: 40px;
    padding: 5px 15px;
    width: 210px;
    height: 45px;
    background: #cea1c7;
    font-family: "Source Sans 3", sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    line-height: 45px;
    margin-left: 130px;
    margin-top: 20px;
    transition: transform 0.4s linear, box-shadow 0.4s linear;
}
.add-btn:hover
{
    transform: scale(1.1);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.35);
}
.dp-title
{
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    color: #352f21;
    margin-top: 150px;
    margin-left: -830px;
}
.one, .two, .three, .four, .five, .six
{
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    line-height: 125px;
    color: #a7bbdd;
    background-color: #fff;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    fill: rgba(255, 255, 255, 0.22);
    box-shadow: 0 8px 14px 0 #cea1c7;
    margin: 0 140px;
    margin-top: 60px;

}
.firstrow-numbers
{
    display: flex;
}
.secondrow-numbers
{
    display: flex;
    margin-top: 50px;
}
.firstrow-text, .secondrow-text
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #352f21;
    display: flex;
    text-align: center; 
    gap: 110px;
    margin-left: 50px;
    margin-top: 33px;
}
.footer-back
{
    margin-top: 140px;
    position: absolute; 
    z-index: 0; 
    margin-left: -130px;
    background-color: #A7BBDD;
    width: 1603px;
    height: 346px;
}
.footer-logo
{
    position: absolute;
    z-index: 1;
    margin-left: 645px;
    margin-top: 140px;
}
.footer-name
{
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    z-index: 1;
    margin-left:595px;
    margin-top: 215px;
}
.footer-img
{
    position: relative;
    z-index: 1;
    padding-left: 1177px;
    margin-top: 5px;
}
.contacts-f
{
    position: relative;
    z-index: 1;
    margin-left: 130px;
    margin-top: -370px;
}
.con-title, .info-title, .cat-title
{
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    margin-bottom: 13px;
    text-decoration: none;
}
.con-desc, .info-desc, .cat-desc
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    font-size: 20px; 
    color: #fff;
    text-decoration: none;
}
.information-f
{
    position: relative;
    z-index: 1;
    margin-left: 370px;
    margin-top: -135px;
}
.catalog-f
{
    position: relative;
    z-index: 1;
    margin-left: 635px;
    margin-top: -163px;
}
.email-f
{
    position: relative;
    z-index: 1; 
    margin-top: -130px;
}
.email-form input[type="text"]
{
    z-index: 1;
    border-radius: 24px;
    width: 447px;
    height: 50px;
    background: #fff;
    border: none;
    margin-left: 130px;
    resize: none;
    margin-left: 880px;
}
.email-form input[type="text"]:focus{
    outline: none;
}
.email-form input[type="text"]::placeholder {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #c6c6c6;
    padding-left: 10px;
    line-height: 40px;
}
.email-form input[type="text"]
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000;
    padding-left: 10px;
    line-height: 40px;
}
.em-btn
{
    z-index: 2;
    position: absolute;
    border-radius: 24px;
    width: 169px;
    height: 53px;
    background: #cea1c7;
    font-family: "Source Sans 3", sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    line-height: 53px;
    margin-left: 1171px;
    margin-top: -52px;
    transition: transform 0.4s linear, box-shadow 0.4s linear;
}
.em-btn:hover
{
    transform: scale(1.05);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.35);
}
.socialMedia-f
{
    position: relative;
    z-index: 2;
    display: flex;
    gap: 30px;
    padding-left: 1020px;
    margin-top: 30px;
}
.—Åopyright
{
    position: relative;
    z-index: 2;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-top: 25px;
    margin-left: 430px;
}
.typ-title
{
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    color: #352f21;
    margin-left: -700px;
    margin-top: 50px;
}
.typ-images
{
    margin-top: 10px;
}
.typ-fonts
{
    margin-top: -500px;
    margin-left: 130px;
}
.lora-font
{
    font-weight: 400;
    font-size: 65px;
    color: #fff;
}
.lora-reg
{
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    margin-top: 12px;
}
.typ-source
{
    display: flex;
    gap: 45px;
    margin-top: 12px;
}
.source-font
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 65px;
    color: #fff;
    margin-top: 35px;
}
.source-light
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #fff;
}
.source-reg
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}
.source-sem
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
}
.typ-colors
{
    display: flex;
    margin-top: -410px;
    margin-left: 750px;
}

.col1
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 147px;
    color: #fff;
    background-color: #cea1c7;
    width: 147px;
    height: 147px;
    border-radius: 100%;
    margin: 0 180px;
    margin-top: 60px;
}
.col2
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 147px;
    color: #fff;
    background-color: #a7bbdd;
    width: 147px;
    height: 147px;
    border-radius: 100%;
    margin: 0 180px;
    margin-top: 80px;
}
.col3
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 147px;
    color: #fff;
    background-color: #9a7ec1;
    width: 147px;
    height: 147px;
    border-radius: 100%;
    margin: 0 -60px;
    margin-top: 60px;
}
.col4
{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 147px;
    color: #fff;
    background-color: #352f21;
    width: 147px;
    height: 147px;
    border-radius: 100%;
    margin: 0 -60px;
    margin-top: 80px;
}
.typ-basket
{
    margin-left: 1015px;
    margin-top: 65px;
    position: absolute;
    border-radius: 40px;
    padding: 5px 15px;
    width: 210px;
    height: 45px;
    background: #cea1c7;
    font-family: "Source Sans 3", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    transition: transform 0.4s linear, box-shadow 0.4s linear;
}
.typ-basket:hover
{
    transform: scale(1.1);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.35);
}
.typ-catalog
{
    margin-left: 1015px;
    margin-top: 170px;
    position: absolute;
    border: 2.50px solid rgba(206, 161, 199, 0.36);
    border-radius: 40px;
    padding: 5px 15px;
    width: 210px;
    height: 45px;
    background: #fff;
    font-family: "Source Sans 3", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #9a7ec1;
    text-decoration: none;
    line-height: 45px;
    transition: transform 0.4s linear, border 0.4s linear;
}
.typ-catalog:hover
{
    transform: scale(1.1);
    border: 4px solid rgba(206, 161, 199, 0.36);
}
.typ-buttons
{
    padding-bottom: 330px;
}
html {
    scroll-behavior: smooth;
}